:root {
  --text-primary-color: rgb(54, 81, 101);
}

.App {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-color: rgb(236, 236, 236);
}

.link {
  position: absolute;
  text-decoration: none;
  color: rgb(54, 81, 101);
  bottom: 0;
}

.page_link {
  position:absolute;
  width: 24rem;
  height: 5rem !important;
  border: 5px solid #ecf0f1;
  bottom: 0;
  left: calc(50vw - 12rem);
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.page_link  p {
  text-decoration: none;
  font-weight: 600;
  margin-top: 10px;
}

/* HOME */

#main {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
}

#main > div {
  height: 100%;
  flex: 50%;
}

#main > h2 {
  position: absolute;
  color: var(--text-primary-color);
  top: 200px;
  left: calc(50vw - 250px);
}

#app_title {
  position: absolute;
  font-size: 4rem;
  color: var(--text-primary-color);
  left: calc(50vw - 150px);
  top: 60px;
}

#cat-left {
  background-color: #ECF0F1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 5rem;
}

#cat-right {
  background-color: #F7F7F7;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 5rem;
}

.catImage {
  opacity: 0.8;
  width: 350px;
  height: 350px;
  object-fit: cover;
  border-radius: 100%;
  border: 10px solid white;
}

.catImage:hover {
  opacity: 1;
  cursor: pointer;
  transition: all .3s ease;
}

.catImage:active {
  opacity: 0.5;
}

/* LIST */

#list-main {
  width: 100%;
  height: 100%;
  background-color: #ECF0F1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#list-main h1 {
  color: #5d6a6d;
  padding-bottom: 10px;
  border-bottom: 2px solid var(--text-primary-color);
  margin: 40px 0 25px 0;
}

.list_image {
  width: 300px;
  height: 300px;
  border: 10px solid #ecf0f1;
}

.list_card {
  width: 50vw;
  margin: 15px;
  padding: 20px;
  background-color: #F7F7F7;
  border-radius: 10px;
  display: flex;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  flex-direction: center;
  justify-content: space-evenly;
  align-items: center;
}

.list_card h2 {
  color:#5d6a6d;
}

.back_link {
  position: fixed;
  text-decoration: none;
  font-weight: 600;
  color: var(--text-primary-color);
  border-bottom: 4px solid #F7F7F7;
  width: 200px;
  height: 60px;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

@media screen and (max-width: 900px) {

  /* HOME MOBILE  */
  #main {
    flex-direction: column;
  }

  #main > h2 {
    top: 120px;
    font-size: 15px;
    left: calc(50vw - 167px);
  }

  #app_title {
    font-size: 3rem;
    left: calc(50vw - 120px);
    top: 40px;
  }

  #cat-left {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-right: 0;
    padding-bottom: 2rem;

  }
  #cat-right {
    background-color: #F7F7F7;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-left: 0;
    padding-top: 2rem;
  }

  .catImage {
    opacity: 1;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 100%;
    border: 5px solid white;
  }

  .page_link {
    width: 100vw;
    left: 0;
    border: 0;
    border-top: 5px solid #ecf0f1;
  }

  /* LIST MOBILE  */

  #list-main h1 {
    font-size: 20px;
    margin-top: 90px;
  }

  .back_link {
    width: 100%;
    background-color: #f7f7f7;
  }

  .list_card {
    width: 80%;
  }

  .list_image {
    width: 150px;
    height: 150px;
    border: 10px solid #ecf0f1;
  }

}

@media screen and (max-height: 830px) {
    #app_title {
      position: absolute;
      font-size: 2rem;
      left: calc(50vw - 79px);
      top: 20px;
    }

    #main > h2 {
      top: 70px;
    }
}